<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADAplicacionComercial.Properties.Settings.AplicacionComercialConnectionString"
            connectionString="Data Source=ANSPE016;Initial Catalog=AplicacionComercial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CADAplicacionComercial.Properties.Settings.AplicacionComercialConnectionString1"
            connectionString="Data Source=SIETE;Initial Catalog=AplicacionComercial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>